body {
    background-color: #d5d5d5; /* arka planı  açık gri yaptık*/
    font-family: 'Trebuchet MS', Arial, 'Comic Sans MS';
}

* {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 30px 0 0 1;
    padding: 0;
}

a {
    text-decoration: none; /* altının çizilmesini engeller*/
    color: #555;
}

    a:hover { /* mouse üzerine geldiğinde rengini değiştirir*/
        color: #999;
    }

#wrapper {
    width: 960px;
    height: auto; /* yüksekliği nesneye göre otomatik arttırmayı sağlar*/
    margin: 0 auto;
}

header {
    float: left; /* float ile sola yatırarak nesnelerin üst üste gelmesini engelledik*/
    width: 100%;
    height: 45px;
    background-color: #fff;
}

    header .logo {
        float: left;
        width: 89px;
        height: 45px;
        border-right: 1px solid #ff0000;
        text-align: center; /*yazıyı ortaladık*/
        line-height: 45px;
        color: #990000;
    }

    header nav {
        float: left;
        width: 609px;
        height: 45px;
        border-right: 1px solid #ff0000;
        line-height: 45px;
    }

        header nav ul {
            list-style: none; /* nokta anasayfadaki noktayı silmek için yazdık*/
        }

            header nav ul li { /* anasayfaKonu diye yanyana yazmayı sağladık*/
                float: left;
                margin: 0 10px; /*anasayfa konu arasında 10 px boşuk bırakmayı sağladı*/
                color: #555; /*siyah ile gri arasında bir renk*/
            }

                header nav ul li.konular-wrap {
                    position: relative; /*açılır kapanır menü oluşturmak için relative verdik.*/
                }

                    header nav ul li.konular-wrap .konular {
                        display: none; /*görünürlüğü kaldırmak için*/
                        position: absolute;
                        width: 200px;
                        height: auto;
                        background-color: #fff;
                    }

    header .search {
        float: left;
        width: 260px;
        height: 45px;
    }

        header .search .txtSearch {
            float: left;
            width: 190px;
            padding: 10px;
            height: 25px;
        }

        header .search .btnSearch {
            float: left;
            width: 49px;
            height: 45px;
            border-left: 1px solid #ff0000;
        }

.banner {
    float: left;
    margin-top: 45px;
    width: 960px;
    height: 360px;
    line-height: 360px;
    text-align: center;
    font-size: 56px;
    color: #fff;
    background-image: url('/images/kültürharitası.png');
    background-size: cover; /*resmi ekrana sığdırmak için */
}

.sol-taraf {
    float: left;
    width: 285px;
    height: auto;
    margin-top: 45px;
}

    .sol-taraf .hizli-kayit {
        float: left;
        width: 285px;
        height: auto;
    }

        .sol-taraf .hizli-kayit .ust {
            float: left;
            width: 270px;
            height: 44px;
            line-height: 44px;
            padding-left: 15px;
            border-bottom: 1px solid #ccc;
            color: #555;
            background-color: #fff;
        }

        .sol-taraf .hizli-kayit .alt {
            float: left;
            width: 250px;
            padding: 17.5px;
            height: 190px;
            border-bottom: 1px solid #ccc;
            background-color: #fff;
            color: #555;
        }

            .sol-taraf .hizli-kayit .alt .sifre {
                margin-top: 15px;
            }

            .sol-taraf .hizli-kayit .alt .textBox {
                width: 228px;
                padding: 10px;
                height: 18px;
                border-bottom: 1px solid #ccc;
            }

            .sol-taraf .hizli-kayit .alt .btnKayit {
                float: right;
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                background-color: #0099CC;
                margin-top: 10px;
            }

    .sol-taraf .duyurular {
        float: right;
        width: 285px;
        height: auto;
        margin-top: 45px;
        
    }
        .sol-taraf .duyurular .ust {
            float: left;
            width: 270px;
            height: 44px;
            line-height: 44px;
            padding-left: 15px;
            border-bottom: 1px solid #ccc;
            color: #555;
            background-color: #fff;
        }

        .sol-taraf .duyurular .alt {
            float: left;
            width: 250px;
            padding: 17.5px;
            height: 337px;
            border-bottom: 1px solid #ccc;
            background-color: #fff;
            color: #555;
        }
            .sol-taraf .duyurular .alt .duyuru-wrap {
                float: left;
                width: 250%;
                height: auto;
                background-color: #fff;
                margin: 10px 0;

            }
            .sol-taraf .duyurular .alt .duyuru-wrap:hover{
          
                background-color: #d5d5d5;
            }



.icerik {
    float: right;
    margin-top: 45px;
    width: 625px;
    height: 500px;
    background-color: #fff;
}

footer {
    float: left;
    margin-top: 45px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    color: #555;
}
